# Tipos de Dados

# ------------------------------
### Exemplo prático de Tipos de Dados em Python
### Autor: Jailson Carvalho
# ------------------------------

In [1]:
# Números inteiros (int)
qtd = 5
print(qtd, type(qtd))

5 <class 'int'>

In [2]:
# Números decimais (float)
pc_produto = 100.50
print(pc_produto, type(pc_produto))

100.5 <class 'float'>

In [3]:
# Strings (str)
nome = 'Jailson Carvalho'
print(nome, type(nome))

Jailson Carvalho <class 'str'>

In [4]:
# Booleanos (bool)
tem_acesso = True
print(tem_acesso, type(tem_acesso))

True <class 'bool'>

In [5]:
# Operação entre variáveis
itens = 3 
valor = 15.33
total_compras = itens * valor
print("Total de compras:", total_compras, type(total_compras))

Total de compras: 45.99 <class 'float'>

In [6]:
# Listas (list)
frutas = ["maçã", "banana", "laranja"]
print(frutas, type(frutas))

['maçã', 'banana', 'laranja'] <class 'list'>

In [7]:
# Tuplas (tuple)
coordenadas = (10, 20)
print(coordenadas, type(coordenadas))

(10, 20) <class 'tuple'>

In [8]:
# Dicionários (dict)
pessoa = {"nome": "Jailson", "idade": 30, "profissao": "Analista de Dados"}
print(pessoa, type(pessoa))

{'nome': 'Jailson', 'idade': 30, 'profissao': 'Analista de Dados'} <class 'dict'>

In [9]:
# Conjuntos (set)
ids = {101, 102, 103, 101}
print(ids, type(ids))  # não permite valores duplicados

{101, 102, 103} <class 'set'>

In [10]:
# Tipo None (ausência de valor)
nada = None
print(nada, type(nada))

None <class 'NoneType'>

In [11]:
# Descobrindo tipo de forma alternativa
print(isinstance(10, int))       # True
print(isinstance("texto", str))  # True
print(isinstance(3.5, float))    # True

True
True
True